<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<%- include('hero') %>
<main id="main">
<%- include('duyuru') %>
<%- include('about') %>
<%- include('stats') %>
<%- include('counts') %>
</main>
<%- include('footer') %>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/aos/aos.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/js/main.js"></script>
</body>

</html>