<html lang="en">
<style>
.falsis {
color: white;
}
.falsis:hover {
color: white;
}
  .discord{
    background-color: #2f3136; /*discord fontu arkaplan rengi*/
    color: white;
    font-family: "Lucida Console", "Courier New", monospace; /*elleşme burayı*/
  }
</style>
<%- include('head') %>
<br>
<br>
<br>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        
        <br>
        <br>
        <div class="d-flex justify-content-between align-items-center">
          <h1><i class="fas fa-comment-alt"></i> Komutlar (<span data-purecounter-start="0" data-purecounter-end="<%= database3 %>" data-purecounter-duration="1" class="purecounter"></span>)</h1>
        </div>

      </div>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
    <div class="container">
      <b><i class="fas fa-bullhorn"></i> <%= database5 %></b>
      <br>
    <b> Prefix: kr-, k!, @Kremlin#5483</b>
        <br>
    <a href="#moderasyon" class="btn-get-started scrollto">Moderasyon, </a><a href="#guard" class="btn-get-started scrollto">Guard, </a><a href="#sahip" class="btn-get-started scrollto">Sahibe Özel, </a><a href="#davet" class="btn-get-started scrollto">Davet, </a><a href="#emojirol" class="btn-get-started scrollto">Emoji Rol, </a><a href="#ticket" class="btn-get-started scrollto">Ticket, </a><a href="#kullanıcı" class="btn-get-started scrollto">Kullanıcı, </a><a href="#eğlence" class="btn-get-started scrollto">Eğlence, </a><a href="#sahip" class="btn-get-started scrollto">Sahibe Özel</a>
    <br>
    </div>
    <br>
    <br>
      <div class="container">
      <div id="moderasyon">
      <h3><i class="fas fa-hammer"></i> Moderasyon (<span data-purecounter-start="100" data-purecounter-end="52" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
        <p class="discord">uyetkili, uyarı-log ayarla, uyarı-log sıfırla, uyarı, sicil, otocevap ayarla, otocevap sil, otocevap-listesi, capsengel aç, capsengel kapat, tempmute, muterol, mutelog, muteyetkili, unmute, ban, unban, tempban, forceban, banlog, banyetkili, kick, kick-log, jail, jailyetkili, jaillog, jailrol, unjail, temizle, kanal-sil, sa-as-aç, sa-as-kapat, link-engel aç, link-engel kapat, link-engel-yoksay ayarla, link-engel-yoksay sıfırla, küfür-aç, küfür-kapat, hgkanal ayarla, hgkanal sıfırla, kilitle, kilit-aç, modlog-aç, modlog-kapat, prefix, otorol-kapat, otorol-aç, emojiekle, nuke, rolver</p>
    </div>
    <br>
    <br>
    <br>
      <div class="container">
      <div id="guard">
      <h3><i class="fas fa-shield-alt"></i> Guard (<span data-purecounter-start="100" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
        <p class="discord">alt-engel-sistemi, bot-giriş-engel aç, bot-giriş-engel kapat, bot-giriş-izin aç, bot-giriş-izin kapat,  çıkış-ban aç, çıkış-ban kapat</p>
    </div>
    <br>
<br>
<br>
<div id="davet">
          <h3><i class="fas fa-sign-in-alt"></i> Davet (<span data-purecounter-start="100" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
  <p class="discord">invite-kanal ayarla, invite-kanal sıfırla, invite-giriş ayarla, invite-giriş sıfırla, invite-çıkış ayarla, invite-çıkış sıfırla, invite-rol ekle, invite-rol sil, davetlerim</p>
    </div>
        <br>
<br>
<br>
<div id="emojirol">
          <h3><i class="fas fa-edit"></i> Emoji Rol (<span data-purecounter-start="100" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
  <p class="discord">emoji-rol-menü-kur, emoji-rol-ekle, emoji-rol-düzenle, emoji-rol-sil</p>
   </div>
       <br>
<br>
<br>
<div id="ticket">
          <h3><i class="fas fa-tags"></i> Ticket (<span data-purecounter-start="100" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>) <b>[BETA]</b></h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
  <p class="discord">ticketkanal ayarla, ticketkanal sıfırla, ticketkategori ayarla, ticketkategori sıfırla, ticket-kapat</p>
    </div>
        <br>
<br>
<br>
<div id="kullanıcı">
          <h3><i class="fas fa-users"></i> Kullanıcı (<span data-purecounter-start="100" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
  <p class="discord">wiki, çevir, kanal, renk, say, banlist, emoji, kanal-ara, afk, sayı, sayıkanal, npm, bansebep, tavsiyekanal, tavsiye, ara, profil, sunucu, rolbilgi, güventest, ayarlar, logo, avatar, korona, ping, youtube, yetkilerim, versiyon, sesegir, sestençık, rozetlerim, function, dolar, lyrics, bot-bilgi, atatürk, dosya-oluştur, davet, site, i</p>
   </div>
          <br>
<br>
<br>
<div id="eğlence">
          <h3><i class="fas fa-paint-roller"></i> Eğlence (<span data-purecounter-start="100" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
  <p class="discord">meme, avla, aşk</p>
    </div>
        <br>
<br>
<br>
<div id="sahip">
          <h3><i class="fas fa-crown"></i> Sahibe Özel (<span data-purecounter-start="100" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
  <p class="discord">eval, eval2, isimdeğiştir, resimdeğiştir, duyuru, rozet-1, rozet-2</p>
  <!--<br>
  <br>
<h3><i class="fas fa-comment-alt"></i> Tüm Komutlar (<span data-purecounter-start="100" data-purecounter-end="<%= database3 %>" data-purecounter-duration="1" class="purecounter"></span>)</h3>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
  <p class="discord">
    <%= tum %>
  </p>-->
    </div>
    </section>
<%- include('counts') %>
  </main>
  
<%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/aos/aos.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/swiper/swiper-bundle.min.js"></script>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/js/main.js"></script>

</body>

</html>